<!-- Paso 2: Mostrar Itinerarios -->
<main *ngIf="currentStep === 2">
  <h3>Elige el horario</h3>
  <div *ngIf="itinerarios.length === 0">
    <p>No se encontraron itinerarios para esta fecha.</p>
  </div>
  <div *ngIf="itinerarios.length > 0">
    <table>
      <thead>
        <tr>
          <th>ITINERARIO</th>
          <th>SERVICIO</th>
          <th>ASIENTOS</th>
          <th>ELEGIR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itinerario of itinerarios">
          <td>{{ itinerario.horaSalida }} <br> Salida → <br> {{ itinerario.horaLlegada }} <br> Llegada estimada</td>
          <td>{{ itinerario.servicio }} - {{ itinerario.servicio }}</td>
          <td>{{ itinerario.asientosLibres }} Libres</td>
          <td>
            <button (click)="elegirItinerario(itinerario)">Elegir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="itinerarios.length > 0">
    <h3>Resultados de itinerarios:</h3>
    <pre>{{ itinerarios | json }}</pre>
  </div>
  
</main>



